.player 
{
    background-color:#3281a8;
        color: #FFFFFF;
        height: 50px;
        width:70%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 1px 1px 6px 0px black;
        position: relative;
    }